@import '/src/app/app.component.scss';

.header {
  position:relative;
  margin-bottom: 30px;
}

.logo{
  padding-top: 20px;
  height: 130px;
  img{
    width: 300px;
    height: 100%;
  }
}

.inner-header {
  height:70vh;
  width:100%;
  margin: 0;
  padding-top: 20px;
  @media screen {
    @media (max-width:1600px) {
      height:80vh;
    }
  }
  .control {
    height: 90%;
    gap: 30px;
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 35px;
      height: 100%;
      .img {
        width: 250px;
        height: 250px;
        img{
          border-radius: 50%;
          object-fit: cover;
          width: 100%;
          height: 100%;
          box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
        }
      }
      .personal {
        text-align: center;
        padding-top: 25px;
        h1 {
          font-weight: 700;
          font-size: 26px;
        }
        span {
          font-weight: 300;
          font-size: 20px;
          color: var(--txt);
        }
      }
      .links {
        padding-top: 25px;
        display: flex;
        justify-content: space-around;
        .href {
          display: inline-block;
          width: 40px;
          height: 40px;
          padding-bottom: 10px;
          border-radius: 50%;
          transition: 0.3s ease;
          &:hover {
          box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.2);
          transition: 0.3s ease;
          }
        }
      }
    }
    .holder {
      display: block;
      height: 100%;
      .gap_div{
        gap: 30px;
        height: 30%;
        margin-bottom: 30px;
        @media screen {
          @media (max-width:1600px) {
          gap: 20px;
          flex-direction: column;
          }
        }
        .description {
          width: 90%;
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          @media screen {
            @media (max-width:1600px) {
            width: 100%;
            }
          }
          .text {
            @media screen {
              @media (max-width:1600px) {
              height: 60px;
              }
            }
            span {
              font-size: 30px;
              font-weight: 600;
              @media screen {
                @media (max-width:1600px) {
                font-size: 20px;
                }
              }
            }
          }
        }
        .buttons {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          width: 16%;
          gap: 30px;
          @media screen {
            @media (max-width:1600px) {
              flex-direction: row;
              width: 100%;
            }
          }
          button {
            height: 50%;
            border-radius: 10px;
            text-transform: uppercase;
            font-weight: bold;
            color: var(--wht);
            transition: 0.5s ease;
            border: 3px solid var(--wht);
            &:hover{
              background: var(--wht);
              color: var(--blk);
              transition: 0.5s ease;
              font-size: 18px;
            }
            @media screen {
              @media (max-width:1600px) {
                width: 50%;
                height: 40px;
              }
            }
          }
        }
      }
      .skills {
        height: 64.5%;
        width: 100%;
        text-align: center;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-around;
        gap: 30px;
        .icon_skills{
          width: 180px;
          height: auto;
          padding: 6px 16px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          @media screen {
            @media (max-width:1600px) {
              width: 120px;
            }
          }
          .name{
            font-size: 17px;
            text-transform: capitalize;
            font-weight: 300;
            letter-spacing: 1px;
          }
          .skill{
            width: 80px;
            height: 80px;
          }
          .stars{
            width: 15px;
            margin: 0px 5px;
            @media screen {
              @media (max-width:1600px) {
                margin: 0px 1px;
              }
            }
          }
        }
      }
    }
  }
}

.waves {
  position:relative;
  width: 100%;
  height:150px;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 7s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 10s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 17s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
