<div class="header" *ngIf="data">

  <!--Content before waves-->
  <div class="inner-header cont flex justify-around items-start">
    <div class="info card">
      <div class="img">
        <img src="{{data.img}}" alt="">
      </div>
      <div class="personal">
        <h1>{{data.name}}</h1>
        <span>{{data.role}}</span>
      </div>
      <div class="links">
        <div *ngFor="let d of data.links">
          <a class="href" [href]="d.link">
            <img class="icon" src="{{d.icon}}" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="holder">
      <div class="flex gap_div">
        <div class="description card">
          <ngx-typed-js [strings]="[data.description]" [typeSpeed]="10">
            <div class="text">
              <span class="typing"></span>
            </div>
          </ngx-typed-js>
        </div>
        <div class="buttons">
          <button (click)="downloadFile()" class="btn-cv">Download CV</button>
          <button class="btn-contact">Contato</button>
        </div>
      </div>
      <div class="skills" *ngIf="skills">
        <div class="icon_skills card" *ngFor="let s of skills.skils">
          <span class="name">{{s.name}}</span>
          <img class="skill" [src]="s.icon" alt="" srcset="">
          <div class="flex">
            <img class="stars" *ngFor="let star of getStarsArray(s.stars)" [src]="skills.starIcon" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- <app-tic-tac-toe></app-tic-tac-toe> -->

  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,0,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,0,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,0,0,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
  </g>
  </svg>
  </div>
  <!--Waves end-->

  </div>
  <!--Header ends-->
