<div class="header" *ngIf="data">

  <!--Content before waves-->
  <div class="inner-header cont flex justify-around items-start">
    <div class="info card animate__animated animate__fadeInLeft" >
      <div class="img animate__animated animate__rotateIn animate__delay-1s">
        <img src="{{data.img}}" alt="">
      </div>
      <div class="personal">
        <h1 class="text-shadow-2">{{data.name}}</h1>
        <span>{{data.role}}</span>
      </div>
      <div class="links">
        <div *ngFor="let d of data.links">
          <a class="href" [href]="d.link">
            <img class="icon" src="{{d.icon}}" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="holder">
      <div class="flex gap_div">
        <div class="description card animate__animated animate__fadeInDown animate__delay-4s">
          <ngx-typed-js [strings]="[
          'Desenvolvedor Front-end Sênior.',
          'Mais de 4 anos de experiência.',
          'Tecnólogo em Sistemas para Internet.',
          'Participação em diversos projetos em áreas como educação, financeiro, social media, aluguel de veículos e marketplaces',
          'Experiência em criação e desenvolvimento de dashboards, marketplaces, sites institucionais, aplicações de controle e aplicações de uso interno.',
          'Especializado em criar aplicativos web, escaláveis e altamente responsivos.',
          'Sempre buscando aprender!'
          ]" [typeSpeed]="20" [loop]="true" [startDelay]="5000">
            <div class="text">
              <span class="typing text-shadow-2"></span>
            </div>
          </ngx-typed-js>
        </div>
        <div class="buttons">
          <button (click)="downloadFile()" class="btn-cv animate__animated animate__fadeInRight animate__delay-2s">Download CV</button>
          <button class="btn-contact animate__animated animate__fadeInRight animate__delay-3s">Contato</button>
        </div>
      </div>
      <div class="skills animate__animated animate__fadeInRight animate__delay-1s" *ngIf="skills">
        <div class="icon_skills card" *ngFor="let s of skills.skils">
          <span class="name text-shadow-2">{{s.name}}</span>
          <img class="skill" [src]="s.icon" alt="" srcset="">
          <div class="flex">
            <img class="stars" *ngFor="let star of getStarsArray(s.stars)" [src]="skills.starIcon" alt="" srcset="">
          </div>
        </div>
      </div>
    </div>
  </div>

     <!-- <app-tic-tac-toe></app-tic-tac-toe> -->

  <!--Waves Container-->
  <div class="animate__animated animate__fadeInUp">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(0,0,0,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(0,0,0,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(0,0,0,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#000" />
  </g>
  </svg>
  </div>
  <!--Waves end-->

  </div>
  <!--Header ends-->
