<section class="timeline" *ngIf="carrer">
  <ul>
    <ng-container *ngFor="let i of carrer">
      <li appInViewport>
        <div class="card flex flex-col justify-around">
          <span class="info flex items-center">
            <img [src]="i.logo" alt="" srcset="">
            <span class="flex flex-col">
              <time class="text-shadow-2">{{i.company}}</time>
              <span class="role">{{i.role}}</span>
              <span class="time_spend">{{i.time}}</span>
            </span>
          </span>
          <p class="desc">{{i.designation}}</p>
        </div>
      </li>
    </ng-container>
  </ul>
</section>
