<section class="mb-10 game-section cont" *ngIf="data">
  <h2 class="line-title">{{title}}</h2>
  <span class="line-desc">{{desc}}</span>
  <owl-carousel-o [options]="carouselOptions">
    <ng-container *ngFor="let i of data" >
      <ng-template carouselSlide>
        <div class="hold" >
          <div class="item" [style.background-image]="'url(' + i.img + ')'">
            <div class="item-desc">
              <h3>{{ i.name }}</h3>
              <p>{{ i.desc }}</p>
              <button (click)="openLink(i)">Visite</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>
